<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a *ngIf="userIsAuthenticated" class="navbar-brand" routerLink="/main-page" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="userIsAuthenticated" class="nav-item"><a class="nav-link" routerLink="/profile">{{myDetails.name}}</a></li>
        <li  *ngIf="!userIsAuthenticated" class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
        <li  *ngIf="!userIsAuthenticated" class="nav-item"><a class="nav-link" routerLink="/signup">Signup</a></li>
        <li *ngIf="userIsAuthenticated" class="nav-item"><a class="nav-link" routerLink="/garage">My Garages</a></li>
        <li  *ngIf="userIsAuthenticated" class="nav-item"><a class="nav-link" routerLink="/login"(click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
