
<div id="footer-info-container" class ="id-none d-xl-block">
  <div class="row">
    <div id="footer-about-container" class="col-3">
      <p>
        CarGO Projesi
      </p>
      <p>
        <a href ="https://mantis.com.tr/tr/anasayfa" target="_blank">Mantis Yazılım</a>
      </p>
    </div>
    <div class="col-1 f-box">
    </div>
    <div class="col-1 f-box">
    </div>
    <div class="col-7 f-box">
      <p>
        IP Adresiniz: {{ip}}
      </p>
    </div>
  </div>
</div>
<div class="row2">
  <div id="copyright" class="col-2">
    <p>© 2023 Mantis Yazılım </p>

  </div>
</div>




