.gradient-custom {
  /* fallback for old browsers */
  background: #8C000F;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(222, 244, 252, 1), rgba(164, 132, 172, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(222, 244, 252, 1), rgba(164, 132, 172, 1))
}
